<tr style="background:{{include.bg}};">
  <td align="{{include.align}}" style="padding: 24px">
    <div style="border: solid 2px #fff; padding: 20px 0px; border-radius: 8px">
      <h2
        style="
          font-weight: bold;
          font-size: 24px;
          text-align: center;
          line-height: 120%;
        "
      >
        {{ include.data.title }}
      </h2>
    </div>
  </td>
</tr>

{% if include.data.text %} {% include telescopio_v1_paragrafos.html
  data=include.data bg=include.bg %} {% endif %}
