<tr style="background:{{include.bg}};">
  <td style="padding: 0 0 24px 0">
    <table
      role="presentation"
      style="
        width: 100%;
        border-collapse: collapse;
        border: 0px solid transparent;
        border-spacing: 0;
        text-align: left;
      "
    >
      <tr>
        <td width="102">
          <img
            align="left"
            border="0"
            src="https://res.cloudinary.com/criptomaniacos/image/upload/v1661371995/telescopio/assets/topo_telescopio_esquerda_yekcbf.png"
            style="
              outline: none;
              text-decoration: none;
              -ms-interpolation-mode: bicubic;
              clear: both;
              display: inline-block !important;
              border: none;
              height: auto;
              float: none;
              width: 100%;
              max-width: 102px;
            "
            width="100"
          />
        </td>
        <td width="280px">
          <div>
            <p>
              <span style="font-size: 20px">BEM-VINDOS AO</span>
            </p>
          </div>
          <div>
            <h1
              class="v-text-align"
              style="
                margin: -12px 0px;
                line-height: 120%;
                word-wrap: break-word;
                font-weight: normal;
                font-family: arial, helvetica, sans-serif;
                font-size: 30px;
              "
            >
              <strong>TELESCÓPIO<br />CRIPTO</strong>
            </h1>
          </div>
          <div>
            <p>
              <span style="font-size: 16px; line-height: 20px"
                >A newsletter da Criptomaníacos</span
              >
            </p>
          </div>
        </td>
        <td width="120">
          <img
            align="right"
            border="0"
            src="https://res.cloudinary.com/criptomaniacos/image/upload/v1661371995/telescopio/assets/topo_telescopio_direita_jx9cbw.png"
            style="
              outline: none;
              text-decoration: none;
              -ms-interpolation-mode: bicubic;
              clear: both;
              display: inline-block !important;
              border: none;
              height: auto;
              float: none;
              width: 100%;
              max-width: 140px;
              margin-top: -50px;
            "
            width="120"
          />
        </td>
      </tr>
    </table>
  </td>
</tr>
