<tr>
  <td align="left" style="padding: 24px; background: #6ae09d">
    <img
      style="float: right; height: 120px; width: auto"
      src="{{include.data.img}}"
    />
    <p style="font-weight: lighter; margin: 12px 0">
      Você pode<br />
      assiná-la por apenas <br /><span style="font-size: x-large"
        >{{include.data.title}}</span
      ><br />
      Saiba mais sobre o nosso produto<br />
      clicando no link abaixo!
    </p>
  </td>
</tr>
<tr>
  <td
    align="{{include.align}}"
    style="padding: 24px 24px 24px 24px; background: {{include.bg}}"
  >
    <p>{{include.data.text}}</p>

    <a
      href="{{include.data.link}}"
      style="display:inline-block;text-transform: uppercase; text-align: center;font-weight:bold; padding: 16px; margin:0; width: 92%; text-decoration: none; color: black; cursor: pointer;border-radius: 4px; background: {{site.data.color.telescopio.v1.verde}};"
      >Adquira Já</a
    >
  </td>
</tr>
