---
layout: newsletter
---

<table
  role="presentation"
  style="
    max-width: 500px;
    min-width: 320px;
    border-collapse: collapse;
    border: 0px solid transparent;
    border-spacing: 0;
    text-align: left;
  "
>
  <tr>
    <td style="padding: 0">
      <table
        role="presentation"
        style="
          width: 100%;
          border-collapse: collapse;
          border: 0px solid transparent;
          border-spacing: 0;
          text-align: center;
        "
      >
        <tr>
          <td>
            <img
              src="https://static.criptomaniacos.io/telescopio/logo-telescopio-v1.png"
              alt="logo da criptomaníacos 2022"
              width="50"
              height="50"
              style="margin: 16px"
            />
          </td>
        </tr>
        <tr>
          <td {{page.props.main}} align="left">
            <table
              role="presentation"
              style="
                width: 100%;
                border-collapse: collapse;
                border-spacing: 0;
                margin: 0;
                padding: 0s;
                border-radius: 30px;
                overflow: hidden;
                background: #f0f0f0;
              "
            >
              {% for block in page.blocks %} {% for item in block.items %}
              <tr style="background:{{block.bg_color}}">
                <td>
                  {% include {{ item.include }} bg=block.bg_color data=item.data
                  align=block.align %}
                </td>
              </tr>
              {% endfor %} {% endfor %}
            </table>
          </td>
        </tr>
        <tr>
          <td style="color: #aaa; padding: 24px 0">
            <p class="EmailOnly">{unsubscribe_text}</p>
            <p>DISCLAIMER:</p>
            <p>
              Este relatório tem mero caráter informativo e educacional, não
              servindo de recomendação de compra ou venda para nenhum ativo.
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
